{% extends "base.html"%}

{% block content %}

<p>Запитання</p>
<p>{{question[2]}}</p>

<form method="post" action="{{url_for('answer_func',quizz_id=quizz_id) }}">
{% for option in options %}
    <div>
    <input id="option_{{loop.index}}" type="radio" name="answer" value="option[3]"/>
    <label for="option_{{loop.index}}">{{option[2]}}</label>
    </div>
    {% endfor %}
    <button type="submit"> Відповісти</button>

    @app.route("/quizz/<int:quizz_id>"/answer, methods=["POST"])
    def answer_func(quizz_id):
    session["quest_index"] += 1
        return redirect(url_for("show_question", quizz_id=quizz_id))

</form>


{% endblock %}